@model EkbReds.Pages.IndexModel.MatchViewModel

<div class="col-lg-4 col-md-6">
    <!--Next Match Widget Start-->
    <div class="next-match-widget">
        <h5 class="title">Следующий матч</h5>
        <div class="nmw-wrap">
            <ul class="match-teams-vs">
                <li class="team-logo"><img src="@Model.HomeTeamLogo" alt="" width="60"> <strong>@Model.HomeTeamName</strong> </li>
                <li class="mvs"> <strong class="vs">VS</strong> </li>
                <li class="team-logo"><img src="@Model.AwayTeamLogo" alt="" width="60"> <strong>@Model.AwayTeamName</strong> </li>
            </ul>
            <ul class="nmw-txt">
                <li><strong>@Model.Tournament.Name</strong></li>
                <li>@Model.StartDate.ToLongDateString()</li>
                <li>@Model.StartDate.ToLongTimeString()</li>
                <li><span>@Model.HomeTeamName Stadium</span></li>
            </ul>
            <div class="defaultCountdown"></div>

            @if (User.Identity.IsAuthenticated)
            {
                <form method="post" asp-page-handler="MakePrediction">
                    <input asp-for="@Model.Prediction.Id" type="hidden" name="Prediction.Id" id="Prediction.Id" class="form-control">
                    <input asp-for="@Model.Id" type="hidden" class="form-control">
                    <div class="container">
                        <div class="row" style="padding: 10px 0 0 0">
                            <!--Home team(слева)-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input asp-for="@Model.Prediction.HomeTeamPredict" class="form-control test" style="background: url(@Model.HomeTeamLogo) no-repeat 1px 2px;background-size: auto 90%;padding-left: 40px !important;" placeholder="@Model.HomeTeamName"/>
                                </div>
                            </div>
                            <!--Away team(справа)-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input asp-for="@Model.Prediction.AwayTeamPredict" class="form-control" style="background: url(@Model.AwayTeamLogo) no-repeat 1px 2px;background-size: auto 90%;padding-left: 40px !important;" placeholder="@Model.AwayTeamName"/>
                                </div>
                            </div>

                            <div class="col-md-12" style="padding-bottom:20px; display:flex; justify-content:center">
                                <button type="submit" class="btn btn-danger">
                                    Сделать прогноз
                                </button>
                            </div>

                        </div>
                    </div>
                </form>
            }
            else
            {
                <div class="text-center">
                    <a class="btn btn-danger" style="margin:10px" asp-page="/Account/Login">Войдите, чтобы сделать прогноз</a>
                </div>
            }
        </div>
    </div>
    <!--Next Match Widget End-->
</div>                                 