@page
@model Web.Pages.Admin.RolesModel
@{
}
<div  style="height: 300px;width:100%; padding: 140px 0 300px 0">
    <img style="height: 300px; width:100%" src="/images/innerbanner.jpg" />
</div>
<div class="container" style="padding:30px 0 20px 0">
    <!--Список ролей-->
    <div class="row" style="padding:30px 0 30px 0">
        <div class="col-md-12">
            <h2 class="text-center">Список ролей</h2>
            <!--Триггер-->
            <button type="button" data-toggle="modal" data-target="#AddRoleForm" class="btn btn-success" style="margin:0 0 10px 0">Добавить</button>
            <!--Триггер-->
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Название</th>
                        <th scope="col">NormalizedName</th>
                        <th scope="col">ConcurrencyStamp</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var roles in Model.Roles)
                {
                    <form method="post">
                    <tr>
                    <td>@roles.Id</td>
                    <td>@roles.Name</td>
                    <td>@roles.NormalizedName</td>
                    <td>@roles.ConcurrencyStamp</td>
                    <td>
                        <button type="submit" asp-page="/Admin/EditRole" asp-route-name="@roles.Name" asp-route-id="@roles.Id" class="btn btn-warning">Редактировать</button>
                    </td>
                    <td>
                        <button type="submit" asp-page-handler="DeleteRole" asp-route-name="@roles.Name" class="btn btn-danger">Удалить</button>
                    </td>
                    </tr>
                    </form>
                }
                </tbody>
            </table>
        </div>
    </div>
    <!--Конец списка ролей-->
</div>
<!-- Модальное окно -->
<div class="modal fade" id="AddRoleForm" tabindex="-1" aria-labelledby="AddRoleFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="AddRoleFormLabel">Добавить новую роль</h2>
      </div>
      <div class="modal-body">
          <form method="post">
                <div class="form-group">
                    <label asp-for="Input.Name"></label>
                    <input asp-for="Input.Name" class="form-control" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <br />
                    <div class="form-group float-end">
                        <button type="submit" asp-page-handler="AddRole" class="btn btn-success">Добавить</button>
                    </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>