@using Microsoft.AspNetCore.Identity
@using ApplicationCore.Entities.Identity
@model IndexModel
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div>
    @{
        if (SignInManager.IsSignedIn(User))
    {
        <div>
            <section>
                <form method="post">
                    <div class="container">
                        <div class="row" style="padding: 10px 0 0 0">
                            <!--Home team(слева)-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label style="text-align:center"><strong>@Model.Matches.ElementAt(0).HomeTeamName</strong></label>
                                    <input asp-for="@Model.Predict.HomeTeamPredict" class="form-control" />
                                    <span asp-validation-for="@Model.Predict.HomeTeamPredict" class="text-danger"></span>
                                </div>
                            </div>
                            <!--Away team(справа)-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label style="text-align:center"><strong>@Model.Matches.ElementAt(0).AwayTeamName</strong></label>
                                    <input asp-for="@Model.Predict.AwayTeamPredict" class="form-control" />
                                    <span asp-validation-for="@Model.Predict.AwayTeamPredict" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12" style="padding-bottom:20px; display:flex; justify-content:center">
                                <button asp-page-handler="MakePredict" asp-route-username="@User.Identity.Name" asp-route-matchId="@Model.Matches.ElementAt(0).Id" type="submit" class="btn btn-danger">
                                    Сделать прогноз
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    }
    if(SignInManager.IsSignedIn(User) && @Model.IsPredictMaded)
    {
    <div class="container">
        <div class="row" style="padding: 10px 0 0 0">
            <!--Home team(слева)-->
            <div class="col-md-6">
                <div class="form-group">
                    <label style="text-align:center"><strong>@Model.Matches.ElementAt(0).HomeTeamName</strong></label>
                    <input disabled="disabled" value="@Model.Prediction.HomeTeamPredict" class="form-control" />
                    <span asp-validation-for="@Model.Predict.HomeTeamPredict" class="text-danger"></span>
                </div>
            </div>
            <!--Away team(справа)-->
            <div class="col-md-6">
                <div class="form-group">
                    <label style="text-align:center"><strong>@Model.Matches.ElementAt(0).AwayTeamName</strong></label>
                    <input disabled="disabled" value="@Model.Prediction.AwayTeamPredict" class="form-control" />
                    <span asp-validation-for="@Model.Predict.AwayTeamPredict" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12" style="padding-bottom:20px; display:flex; justify-content:center">
                <button asp-page-handler="MakePredict" asp-route-username="@User.Identity.Name" asp-route-matchId="@Model.Matches.ElementAt(0).Id" type="submit" class="btn btn-danger">
                    Сделать прогноз
                </button>
            </div>
        </div>
    </div>
    }
    else
    {
    <div class="text-center">
        <a class="btn btn-danger" style="margin:10px" asp-page="/Account/Login">Войдите, чтобы сделать прогноз</a>
    </div>
    }
    }
</div>