@page
@model Web.Pages.AchievementsModel
@{
    ViewBag.Title = "Достижения";
}

<!--Main Slider Start-->
<div class="inner-banner-header wf100">
    <h1 data-generated="@ViewBag.Title">@ViewBag.Title</h1>
</div>
<!--Main Slider Start-->
<!--Main Content Start-->
<div class="main-content innerpagebg wf100">
    <!--team Page Start-->
    <div class="team wf100 p80">
        <!--Start-->
        <div class="player-squad">
            <div class="container">
                <div class="row">
                    <!--Fixture Start-->
                    <div class="col-lg-12">
                        <!--Last Match Result Start-->
                        <div class="next-match-box">
                            <h6>Прогнозист всех времён</h6>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="nms-info">
                                        <p> <strong>@Model.TopUser.FIO</strong></p>
                                        <p> <strong>@Model.TopUser.Point очков</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Last Match Result End-->
                        <!--Mathes Grid-->
                        <div class="fixtures-light fixtures-grid np">
                            <div class="row">
                                <!--col start-->
                                <div class="col-lg-4">
                                    <div class="next-match-box">
                                        <h6>В яблочко</h6>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="nms-info">
                                                    <p> <strong>@Model.MostAccurateUser.FIO</strong></p>
                                                    <p> <strong>@Model.MostAccurateUser.Point матчей</strong></p>                                               
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--col end-->
                                @*<!--col start-->
                                <div class="col-lg-4">
                                    <div class="next-match-box">
                                        <h6>Самая длинная серия без поражений</h6>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="nms-info">
                                                    <p> <strong>Василий Пупкин</strong></p>
                                                    <p>1 матч</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--col end-->
                                <!--col start-->
                                <div class="col-lg-4">
                                    <div class="next-match-box">
                                        <h6>Большинство неугаданных матчей</h6>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="nms-info">
                                                    <p> <strong>Василий Пупкин</strong></p>
                                                    <p>25 матчей</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--col end-->
                                <!--col start-->
                                <div class="col-lg-4">
                                    <div class="next-match-box">
                                        <h6>Тупо красавчик</h6>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="nms-info">
                                                    <p> <strong>Василий Пупкин</strong></p>
                                                    <p>Да да я</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--col end-->
                                <!--col start-->
                                <div class="col-lg-4">
                                    <div class="next-match-box">
                                        <h6>Лучший бармен</h6>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="nms-info">
                                                    <p> <strong>Василий Пупкин</strong></p>
                                                    <p>0 матчей</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--col end-->
                                <!--col start-->
                                <div class="col-lg-4">
                                    <div class="next-match-box">
                                        <h6>Душа компании</h6>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="nms-info">
                                                    <p> <strong>Василий Пупкин</strong></p>
                                                    <p>-1 матчей</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--col end-->*@
                            </div>
                        </div>
                        <!--Mathes Grid-->
                    </div>
                    <!--Fixture End-->
                </div>
            </div>
        </div>
        <!--End-->
    </div>
    <!--team Page End-->
</div>
<!--Main Content End--> 