@page
@model IndexModel
@{
    ViewBag.Title = "Reds Bets";
}

<!--Main Slider Start-->
<div class="main-slider">
    <div class="home2-slider rev_slider_wrapper">
        <!-- START REVOLUTION SLIDER -->
        <div class="rev_slider_wrapper fullwidthbanner-container">
            <div id="rev-slider2" class="rev_slider fullwidthabanner">
                <ul>
                    <li data-transition="fade">
                        <img src="~/images/fans/20210821_182323.jpg" alt="" width="1920" height="750" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                        <div class="tp-caption  tp-resizeme"
                             data-x="right" data-hoffset="350"
                             data-y="top" data-voffset="0"
                             data-transform_idle="o:1;"
                             data-transform_in="x:[-75%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                             data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                             data-splitin="none"
                             data-splitout="none"
                             data-start="700">
                        </div>
                    </li>

                    <li data-transition="fade">
                        <img src="~/images/fans/20210527_030115.jpg" alt="" width="1920" height="750" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                        <div class="tp-caption  tp-resizeme"
                             data-x="right" data-hoffset="350"
                             data-y="top" data-voffset="0"
                             data-transform_idle="o:1;"
                             data-transform_in="x:[-75%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                             data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                             data-splitin="none"
                             data-splitout="none"
                             data-start="700">
                        </div>
                    </li>
                    <li data-transition="fade">
                        <img src="~/images/fans/20210527_012238.jpg" alt="" width="1920" height="750" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                        <div class="tp-caption  tp-resizeme"
                             data-x="right" data-hoffset="350"
                             data-y="top" data-voffset="0"
                             data-transform_idle="o:1;"
                             data-transform_in="x:[-75%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                             data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                             data-splitin="none"
                             data-splitout="none"
                             data-start="700">
                        </div>
                    </li>
                    <li data-transition="fade">
                        <img src="~/images/fans/20220507_232419.jpg" alt="" width="1920" height="750" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                        <div class="tp-caption  tp-resizeme"
                             data-x="right" data-hoffset="350"
                             data-y="top" data-voffset="0"
                             data-transform_idle="o:1;"
                             data-transform_in="x:[-75%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                             data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                             data-splitin="none"
                             data-splitout="none"
                             data-start="700">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- END REVOLUTION SLIDER -->
    </div>
</div>
<!--Main Slider Start-->
<!--Main Content Start-->
<div class="main-content wf100">
    <!--Slide tabs start-->
    <div class="slider-tabs wf100">
        <div class="container">
            <div class="row">
                <ul>
                    <li class="col-lg-4">
                        <div class="slidetab-box">
                            <span>01</span>
                            <h6><a href="#">Success is not Accident it’s a Result of Hard Work</a></h6>
                            <strong>NFL League</strong>
                        </div>
                    </li>
                    <li class="col-lg-4">
                        <div class="slidetab-box">
                            <span>02</span>
                            <h6><a href="#">Marit Lion: Player of the Month in December 2018</a></h6>
                            <strong>MBL Premiere League</strong>
                        </div>
                    </li>
                    <li class="col-lg-4">
                        <div class="slidetab-box">
                            <span>03</span>
                            <h6>
                                <a href="#">
                                    The will to prepare to win
                                    that makes the difference
                                </a>
                            </h6>
                            <strong>Carolina Baltimore</strong>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--Slide tabs end-->
    <!--Sports Widgets Start-->
    <section class="wf100 p80">
        <div class="container">
            <div class="row">
                <partial name="_NextMatchPartial" model="Model.Matches.First()">
                    <div class="col-lg-4 col-md-6">
                        @foreach (IndexModel.MatchViewModel match in Model.Matches.Skip(1))
                        {
                            <!--Next Match Fixtures Width Start  -->
                            <div class="next-match-fixtures">
                                <ul class="match-teams-vs">
                                    <li class="team-logo"><img src="@match.HomeTeamLogo" alt="" width="60"> <strong>@match.HomeTeamName</strong> </li>
                                    <li class="mvs">
                                        <p>
                                            <strong>@match.Tournament.Name</strong> @match.StartDate.ToLongDateString()
                                            @match.StartDate.ToLongTimeString()
                                        </p>
                                        <strong class="vs">VS</strong>
                                    </li>
                                    <li class="team-logo"><img src="@match.AwayTeamLogo" alt="" width="60"> <strong>@match.AwayTeamName</strong> </li>
                                </ul>
                            </div>
                            <!--Next Match Fixtures Width End  -->
                        }
                    </div>
                    <div class="col-lg-4">
                        <div class="point-table-widget">
                            <table>
                                <thead>
                                    <tr>
                                        <th>P</th>
                                        <th>Team</th>
                                        <th>W</th>
                                        <th>D</th>
                                        <th>L</th>
                                        <th>Pts</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><img src="images/tl-logo1.png" alt=""> <strong>Bethlehem</strong></td>
                                        <td>22</td>
                                        <td>4</td>
                                        <td>2</td>
                                        <td><strong>140</strong></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td><img src="images/tl-logo2.png" alt=""> <strong>Chirston Battery</strong></td>
                                        <td>19</td>
                                        <td>3</td>
                                        <td>5</td>
                                        <td><strong>138</strong></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td><img src="images/tl-logo3.png" alt=""> <strong>Charlotte</strong></td>
                                        <td>18</td>
                                        <td>2</td>
                                        <td>3</td>
                                        <td><strong>130</strong></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td><img src="images/tl-logo4.png" alt=""> <strong>FC Cincinnati</strong></td>
                                        <td>17</td>
                                        <td>1</td>
                                        <td>2</td>
                                        <td><strong>126</strong></td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td><img src="images/tl-logo5.png" alt=""> <strong>Indy Eleven</strong></td>
                                        <td>16</td>
                                        <td>3</td>
                                        <td>2</td>
                                        <td><strong>110</strong></td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td><img src="images/tl-logo6.png" alt=""> <strong>Louisville City FC</strong></td>
                                        <td>15</td>
                                        <td>4</td>
                                        <td>6</td>
                                        <td><strong>108</strong></td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td><img src="images/tl-logo7.png" alt=""> <strong>Nashville SC</strong></td>
                                        <td>14</td>
                                        <td>2</td>
                                        <td>8</td>
                                        <td><strong>106</strong></td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td><img src="images/tl-logo8.png" alt=""> <strong>NYK Red Bulls</strong></td>
                                        <td>13</td>
                                        <td>1</td>
                                        <td>9</td>
                                        <td><strong>100</strong></td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td><img src="images/tl-logo9.png" alt=""> <strong>North Carolina</strong></td>
                                        <td>12</td>
                                        <td>2</td>
                                        <td>10</td>
                                        <td><strong>80</strong></td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td><img src="images/tl-logo10.png" alt=""> <strong>Ottawa Fury</strong></td>
                                        <td>11</td>
                                        <td>3</td>
                                        <td>11</td>
                                        <td><strong>76</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <!--Sports Widgets End-->
    <!--Team Squad Start-->
    <section class="team-squad wf100 p80-50">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title white">
                        <h2>League Players Squad</h2>
                        <a class="full-team" href="#">Full Team Squad</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--Player Box Start-->
                <div class="col-md-6">
                    <div class="player-box">
                        <div class="player-thumb"><img src="images/player1.png" alt=""></div>
                        <div class="player-txt">
                            <span class="star-tag"><i class="fas fa-star"></i></span>
                            <h3>Geryson Ramsy</h3>
                            <strong class="player-desi">League Captain</strong>
                            <p> Hi, I am Gerrysson Ramsy the team captain of the soccer club. </p>
                            <ul>
                                <li>29 <span>Age</span></li>
                                <li>87 <span>matches</span></li>
                                <li>113 <span>Goals</span></li>
                                <li>87 <span>matches</span></li>
                            </ul>
                            <a class="playerbio" href="#">Player Biography <i class="far fa-arrow-alt-circle-right"></i></a> <a href="#" class="follow">Follow</a>
                        </div>
                    </div>
                </div>
                <!--Player Box End-->
                <!--Player Box Start-->
                <div class="col-md-6">
                    <div class="player-box">
                        <div class="player-thumb"><img src="images/player2.png" alt=""></div>
                        <div class="player-txt">
                            <span class="star-tag"><i class="fas fa-star"></i></span>
                            <h3>Jaun Carry</h3>
                            <strong class="player-desi">Goal Keeper</strong>
                            <p> Hi, I am Jaun Carry the team captain of the soccer club.</p>
                            <ul>
                                <li>29 <span>Age</span></li>
                                <li>87 <span>matches</span></li>
                                <li>113 <span>Goals</span></li>
                                <li>87 <span>matches</span></li>
                            </ul>
                            <a class="playerbio" href="#">Player Biography <i class="far fa-arrow-alt-circle-right"></i></a> <a href="#" class="follow">Follow</a>
                        </div>
                    </div>
                </div>
                <!--Player Box End-->
                <!--Player Box Start-->
                <div class="col-md-6">
                    <div class="player-box">
                        <div class="player-thumb"><img src="images/player3.png" alt=""></div>
                        <div class="player-txt">
                            <span class="star-tag"><i class="fas fa-star"></i></span>
                            <h3>Jaun Carry</h3>
                            <strong class="player-desi">Goal Keeper</strong>
                            <p> Hi, I am Jaun Carry the team captain of the soccer club.</p>
                            <ul>
                                <li>29 <span>Age</span></li>
                                <li>87 <span>matches</span></li>
                                <li>113 <span>Goals</span></li>
                                <li>87 <span>matches</span></li>
                            </ul>
                            <a class="playerbio" href="#">Player Biography <i class="far fa-arrow-alt-circle-right"></i></a> <a href="#" class="follow">Follow</a>
                        </div>
                    </div>
                </div>
                <!--Player Box End-->
                <!--Player Box Start-->
                <div class="col-md-6">
                    <div class="player-box">
                        <div class="player-thumb"><img src="images/player4.png" alt=""></div>
                        <div class="player-txt">
                            <span class="star-tag"><i class="fas fa-star"></i></span>
                            <h3>Geryson Ramsy</h3>
                            <strong class="player-desi">League Captain</strong>
                            <p> Hi, I am Gerrysson Ramsy the team captain of the soccer club. </p>
                            <ul>
                                <li>29 <span>Age</span></li>
                                <li>87 <span>matches</span></li>
                                <li>113 <span>Goals</span></li>
                                <li>87 <span>matches</span></li>
                            </ul>
                            <a class="playerbio" href="#">Player Biography <i class="far fa-arrow-alt-circle-right"></i></a> <a href="#" class="follow">Follow</a>
                        </div>
                    </div>
                </div>
                <!--Player Box End-->
            </div>
        </div>
    </section>
    <!--Team Squad End-->
</div>
<!--Main Content End-->