@page
@model Web.Pages.PointsModel
@{
    ViewBag.Title = "Очки";
}

<!--Main Slider Start-->
<div class="inner-banner-header wf100">
    <h1 data-generated="@ViewBag.Title">@ViewBag.Title</h1>
</div>
<!--Main Slider Start-->
<!--Main Content Start-->
<div class="main-content solidbg wf100">
    <!--team Page Start-->
    <div class="team wf100 p80">

        <!--Start-->
        <div class="point-table">
            <div class="container">
                <div class="row">
                    @Html.AntiForgeryToken()
                    <div class="col-md-12">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label>Сезон</label>
                                @Html.DropDownList("Season.Id", Model.Seasons, "", new { style = "width: 100%", @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                <label>Месяц</label>
                                @Html.DropDownList("Month", Enumerable.Empty<SelectListItem>(), "", new { style = "width: 100%", @class = "form-control" })
                            </div>
                        </div>

                        <div class="point-table-widget">
                            <table>
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Прогнозист</th>
                                        <th>Точный</th>
                                        <th>Разница</th>
                                        <th>Победа команды</th>
                                        <th>Победа MU</th>
                                        <th>Всего</th>
                                    </tr>
                                </thead>
                                <tbody id="mainPointTable">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End-->
    </div>
    <!--team Page End-->
</div>
<!--Main Content End-->
@section Scripts{
    <script>
        //--When page start
        GetMonth();
        //--

        /**
        * Configuration seasons dropdown when change item
        */
        $("#Season_Id").change(function(e) {
            GetMonth();
        });

        /**
         * Configuration tours dropdown when change item
         */
        $("#Month").change(function(e) {
            LoadTablePoints();
        });

        /**
        * Update dropdown by months
        */
        function GetMonth() {
            $("#Month").empty();
            $.ajax({
                url: '/Points?handler=GetMonths',
                type: "POST",
                data: { seasonId: $('#Season_Id option:selected').val() },
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                }
            }).done(function(data) {
                for (var i = 0; i < data.length; i++) {
                    $('#Month').append(new Option(data[i], data[i], false, new Date().getMonth() == data[i]));
                }
                LoadTablePoints();
            });
        }

        /**
        * Load all result
        */
        function LoadTablePoints() {
            $.ajax({
                url: '/Points?handler=GetTable',
                type: "POST",
                data: { seasonId: $('#Season_Id option:selected').val(), month: $('#Month option:selected').val() },
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                }
            }).done(function(points) {
                var content;
                var number = 1;
                for (i = 0; i < points.length; i++) {
                    content += "<tr>"
                    content += "<td>" + number++ + "</td>"
                    content += "<td><strong>" + points[i].user.surName + " " + points[i].user.firstName + "</strong></td>"
                    content += "<td>" + points[i].correctScore + "</td>"
                    content += "<td>" + points[i].goalDifference + "</td>"
                    content += "<td>" + points[i].teamVictory + "</td>"
                    content += "<td>" + points[i].unitedScores + "</td>"
                    content += "<td><strong>" + points[i].sum + "</strong></td>"
                    content += "</tr>"
                }
                $('#mainPointTable').empty();
                $('#mainPointTable').append(content);
            });
        }

        /**
        * Configuration tour dropdown
        */
        $("#Month").select2({
            placeholder: "Выберите месяц"
        });

        /**
        * Configuration tour dropdown
        */
        $("#Season_Id").select2({
            placeholder: "Выберите сезон"
        });
    </script>
}